body {
    font-family: 'Inter', sans-serif;
    background-color: #eef8f3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --primary-color: #198754;
    --secondary-color: #eef8f3;
    --red-color: #dc3545;
    --balance-color: #ffc107;
    
}

